@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni kategori ekleme sayfası</h1>
<br />
<h2>Hoş geldiniz</h2>
<br />

@*Başlangıç formu ekleme güncelleme yardımcısı HANGİ ACTİON,HANGİ CONTROLLER,FORM NE YAPACAK*@
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori adı")
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /> <br />
        <button>Kaydet</button>

    </div>

}


@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <form class="form-group" method="post">
        <input type="text" placeholder="Kategori adı" name="CategoryName" class=" form-control" />
        <br />
        <input type="text" placeholder="Açıklama" name="CategoryDescription" class=" form-control" />
        <br />
        <button class="btn btn-primary">EKLE</button>
    </form>*@
