@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Yazar Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post)) {
<div class="form-group">


   


    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })

    <br />
    @Html.Label("Yazar soyadı")
    @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @style = "color:red" })

    <br />
    @Html.Label("Yazar unvanı")
    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @style = "color:red" })


    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterMail, "", new { @style = "color:red" })


    <br />
    @Html.Label("Yazar Şifresi")
    @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @style = "color:red" })

    <br />

    <br />
    @Html.Label("Yazar Resmi")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterImage, "", new { @style = "color:red" })



    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.AboutWriter, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AboutWriter, "", new { @style = "color:red" })
    <br /> <br />
    <button class="btn btn-danger">Yazarı Ekle</button>
</div>

}

