@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h2>@ViewBag.id</h2>
<br />

<h1>Yeni Başlık Girişi</h1>
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <br />
    <div class="form-group">


        @Html.Label("Başlık Adı")
        @Html.TextAreaFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />

        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />

      
        <button class="btn btn-info">Başlığı Oluştur</button>

    </div>
}
